<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.url}}" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">TO SHOPPING LIST</a>
              <a class="dropdown-item" href="#">EDIT</a>
              <a class="dropdown-item" href="#">DELETE</a>
            </div>
        </div>    
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        INGREDIENT
    </div>
</div>


