<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success" (click)="newRecipe()">New Recipe</button>
    </div>
</div>
<hr>

<div class="input-group searchContainer">
    <input type="text" class="form-control" placeholder="Search Recipes.." [(ngModel)]="searchString">
    <div class="input-group-btn">
      <button class="btn btn-default" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
</div>

<div *ngIf="isLoading;else elseBlock">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a class="loading list-group-item" href="javascript:void(0);">
                    <div class="grey-out image-loading">
                        &nbsp;
                    </div>
                    <h1 class="grey-out">&nbsp;</h1>
                    <h1 class="grey-out">&nbsp;</h1>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <app-recipe-item *ngFor="let recipe of recipes | searchRecipes : searchString" [recipe]="recipe" (selectedRecipe)="clickedRecipe($event)"></app-recipe-item>
</ng-template>
