img.img-thumbnail{
    float: right;
    max-width: 20%;
}

.list-group-item.loading{
    height: inherit;
}
.list-group-item .grey-out{
    background-image: linear-gradient(to right,#f5f5f5,#F0EFE9);
    color: #f5f5f5;
    background-size: 200%;
    animation: gradient 0.7s ease-in infinite;
}

@keyframes gradient {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.image-loading{
    float: right;
    min-width: 50%;
    height: 74px;
}

h1.grey-out:first-of-type{
    margin-top: 100px;
}

.searchContainer{
    margin-bottom: 12px;
}