<div class="row">
    <div class="col-xs-6">
        <label for="name">NAME</label>
        <input type="text" class="form-control" id="name" #name>    
    </div>

    <div class="col-xs-6">
        <label for="name">NUMBER</label>
        <input type="number" class="form-control" id="name" #amount>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" (click)="addRecipe(name,amount)">Add</button>
        <button type="button" class="btn btn-secondary">Delete</button>
        <button type="button" class="btn btn-success">Clear</button>    
    </div>
</div>
